<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:messages/>
        <h:form>
            <h:inputHidden value="#{carroControle.carro.id}"/>
            <h:panelGrid columns="2">
                Nome do carro
                <h:inputText value="#{carroControle.carro.nome}"/>
                Modelo
                <h:inputText value="#{carroControle.carro.modelo}"/>
                Potencia
                <h:inputText value="#{carroControle.carro.potencia}">
                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    <f:validateDoubleRange minimum="20" maximum="400"/>
                </h:inputText>
                Ativo
                <h:selectBooleanCheckbox value="#{carroControle.carro.ativo}"/>

                <h:commandButton value="Salvar carro"
                                 action="#{carroControle.salvar()}"/>
            </h:panelGrid>
        </h:form>
        <h:form>
            <h:dataTable value="#{carroControle.carrosCadastrados}"
                         var="c">
                <h:column>
                    <f:facet name="header">
                        Nome do carro
                    </f:facet>
                    #{c.nome}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Modelo
                    </f:facet>
                    #{c.modelo}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Potencia
                    </f:facet>
                    #{c.potencia}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Ativo
                    </f:facet>
                    #{c.ativo}
                </h:column>
                <h:column>
                    <h:commandButton value="Alterar" action="#{carroControle.setCarro(c)}"/>
                    <h:commandButton value="Excluir" action="#{carroControle.excluir(c)}"/>
                </h:column>

            </h:dataTable>
        </h:form>
    </h:body>
</html>
